
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>INDEX jah</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="C:\Users\PC\Documents\GitHub\Pringle-Pacers-Workout-Tracker\static\css\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
	<nav>
        <div class="container1">
            <ul>
                <li><img src="C:\Users\PC\Documents\GitHub\Pringle-Pacers-Workout-Tracker\static\css\images\pringles.png" alt="Pringle Pacers"></li>
                <li><a href="index.html">Login</a></li>
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="home.html">Home</a></li>
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="list.html">Workouts</a></li>
                <li><a href="add.html">Randomizer</a></li>
                <li><a href=".html">Achievements</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="bmi.html">BMI Calculator</a></li>
                
            </ul>
        </div>
    </nav>


	<h1>Fantastic heading of our app!</h1>
	<h2>This is my app</h2>
	
	<a href="/add">Add an item</a><br>
	<a href="/list">List all items</a><br>
	

	<div class="footer">
        <div class="container1">
            <h4>Pringle Pacers Assignment 2</h4>
            <h5>Yonathan Kogan, Armand Lopez, Harshnoor Singh, Cheuk Lam Chung (Kandy), Sheng Syue Tseng, Daniel Tran</h5>
        </div>
    </div>
</body>
</html>
