<!DOCTYPE html>
<html>

<head>
    <title>Log-in</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav>
        <div class="container1">
            <ul>
                <li><img src="..\static\img\pringles.png" alt="Pringle Pacers"></li>
                <li><a href="/">Home</a></li>
                <li><a href="about-us">About Us</a></li>
                <li><a href="bmi">BMI Calculator</a></li>
                <li><a href="sign-up">Signup</a></li>
            </ul>
        </div>
    </nav>

    <div class="container1">
        <div class="row">
            <div class="col-lg-6">
                <div class="login1">
                    <h1 class="login">Login</h1>

                    {% if Error %}
                    <div class="error">
                    <h2>{{ Error }}</h2>
                    </div>
                    {% endif %}
                    <form action="login" method="post">
                        <h2>Email</h2>
                        <input type="email" name="email" required><br>
                        <h2>Password</h2>
                        <input type="password" name="password" required><br>
                        <input class="logbut" type="submit" value="Log-in">
                    </form>
                    <a href="/sign-up">Sign up</a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="login2">
                    <img src="..\static\img\workout.jpg" alt="woman working out">
                </div>
            </div>

        </div>
    </div>
    </div>

    <div class="footer">
        <div class="container1">
            <h4>Pringle Pacers Assignment 3 - Workout tracker</h4>
            <h5>Yonathan Kogan, Armand Lopez, Harshnoor Singh, Cheuk Lam Chung (Kandy), Sheng Syue Tseng, Daniel
                Tran</h5>
        </div>
</body>

</html>