<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <a href="/profile-edit">EDIT</a>
    <h1>{{ user[1] }} {{ user[2] }}</h1>
    <h1>Date of Birth:                   {{ user[5] }}</h1>
    <h1>Biological Sex:                  {{ user[6] }}</h1>
    <h1>Email:                           {{ user[3] }}</h1>
    
    <h1>Height:                                       </h1>
    <h1>Weight:                                       </h1>

</body>
</html>